<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="ldS.css">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap" rel="stylesheet">
  <title>Loading Screen</title>
</head>
<body>
  <main>
    <img src="../../img/logo.png" class="img">
    <div class="loading">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <h3 id="loadText">Iniciando sessão</h3>
  </main>
</body>
<script>
  setTimeout(function(){
    window.location.replace("../home/home.html")
  },3500)
  
</script>
</html>